// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 商品一覧のメインビジュアルの背景と文字と位置の調整 */
.top-message {
margin-top: 51px;
background-image: image-url("marble.jpeg");
color: white;
text-shadow: 1px 1px 1px #000;
}